html,
body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#container {
  height: 300px;
  width: 300px;
  background-color: rgb(233, 225, 225);
  border-radius: 10px;
  position:relative;
  overflow:hidden;
}
body {
  background-color: cadetblue;
  display: flex;
  align-content: center;
  justify-content: center;
}
#container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#container i {
  color: white;
  font-size: 60px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%)scale(0);
  opacity:0;
  transition:transform ease;  

}
